workflows/n8n/seo-aeo-engine-workflow.json
{
  "name": "AJD - SEO AEO Research Run",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 2"
            }
          ]
        }
      },
      "id": "schedule-trigger-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "run_id",
              "value": "={{$now.toISO()}}",
              "type": "string"
            },
            {
              "name": "brand_name",
              "value": "={{$env.CLIENT_BRAND_NAME}}",
              "type": "string"
            },
            {
              "name": "site_url",
              "value": "={{$env.CLIENT_SITE_URL}}",
              "type": "string"
            },
            {
              "name": "author_name",
              "value": "={{$env.CLIENT_AUTHOR_NAME}}",
              "type": "string"
            },
            {
              "name": "primary_city",
              "value": "={{$env.CLIENT_PRIMARY_CITY}}",
              "type": "string"
            },
            {
              "name": "local_cities",
              "value": "={{$env.CLIENT_LOCAL_CITIES.split(',').map(c => c.trim())}}",
              "type": "array"
            },
            {
              "name": "niche",
              "value": "={{$env.CLIENT_NICHE}}",
              "type": "string"
            },
            {
              "name": "geo_targets",
              "value": "=[\"United States\"]",
              "type": "array"
            },
            {
              "name": "seed_topics",
              "value": "={{$env.CLIENT_SEED_TOPICS ? $env.CLIENT_SEED_TOPICS.split(',').map(t => t.trim()) : []}}",
              "type": "array"
            },
            {
              "name": "competitors",
              "value": "=[]",
              "type": "array"
            },
            {
              "name": "goals",
              "value": "={\"rank_on_google\":true,\"be_cited_by_ai\":true,\"capture_leads\":true}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-brand-config-1",
      "name": "Set Brand Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.PERPLEXITY_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an SEO + AEO research operator. Use live web research to identify ranking opportunities, competitor gaps, topical clusters, indexing/discovery risks, and AI citation opportunities. Return structured JSON only.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Brand: {{$json.brand_name}}\\nSite: {{$json.site_url}}\\nNiche: {{$json.niche}}\\nGeo Targets: {{$json.geo_targets}}\\nSeed Topics: {{$json.seed_topics}}\\nCompetitors: {{$json.competitors}}\\nGoals: Rank on Google, be cited by AI, generate leads.\\n\\nReturn JSON with keys: topic_map, opportunities, competitor_findings, indexing_notes, source_notes.\"\n    }\n  ],\n  \"temperature\": 0.2\n}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "perplexity-research-1",
      "name": "Perplexity - Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json;\nconst content = raw.choices?.[0]?.message?.content ?? raw.data?.content ?? raw.content ?? \"\";\n\nlet parsed;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  parsed = {\n    topic_map: [],\n    opportunities: [],\n    competitor_findings: [],\n    indexing_notes: [],\n    source_notes: [String(content)]\n  };\n}\n\nreturn [{\n  json: {\n    run_id: $('Set Brand Config').first().json.run_id,\n    brand_name: $('Set Brand Config').first().json.brand_name,\n    site_url: $('Set Brand Config').first().json.site_url,\n    author_name: $('Set Brand Config').first().json.author_name,\n    primary_city: $('Set Brand Config').first().json.primary_city,\n    local_cities: $('Set Brand Config').first().json.local_cities,\n    niche: $('Set Brand Config').first().json.niche,\n    geo_targets: $('Set Brand Config').first().json.geo_targets,\n    topic_map: parsed.topic_map || [],\n    opportunities: parsed.opportunities || [],\n    competitor_findings: parsed.competitor_findings || [],\n    indexing_notes: parsed.indexing_notes || [],\n    source_notes: parsed.source_notes || []\n  }\n}];"
      },
      "id": "normalize-research-1",
      "name": "Normalize Research",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{\"https://searchconsole.googleapis.com/webmasters/v3/sites/\" + encodeURIComponent($json.site_url) + \"/searchAnalytics/query\"}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"startDate\": \"{{$now.minus({days: 90}).toFormat('yyyy-MM-dd')}}\",\n  \"endDate\": \"{{$now.minus({days: 1}).toFormat('yyyy-MM-dd')}}\",\n  \"dimensions\": [\"page\", \"query\"],\n  \"rowLimit\": 250\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "gsc-search-analytics-1",
      "name": "GSC - Search Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1220, 400],
      "credentials": {
        "googleOAuth2Api": {
          "id": "REPLACE_GOOGLE_CREDENTIAL_ID",
          "name": "Google OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-research-gsc-1",
      "name": "Merge - Research + GSC",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1480, 400]
    },
    {
      "parameters": {
        "jsCode": "const research = items[0].json;\nconst gsc = items[1]?.json || {};\nconst gscRows = gsc.rows || [];\n\nfunction findGscMatch(primaryQuery) {\n  return gscRows.find(r => (r.keys?.[1] || '').toLowerCase() === String(primaryQuery || '').toLowerCase());\n}\n\nconst opportunities = research.opportunities || [];\nconst scored = opportunities.map(op => {\n  const g = findGscMatch(op.primary_query || '');\n  const impressions = g?.impressions || 0;\n  const position = g?.position || 0;\n\n  const business = op.business_relevance_score ?? 7;\n  const intent = op.intent_clarity ?? 7;\n  const weakness = op.serp_weakness ?? 6;\n  const topical = op.topical_fit ?? 7;\n  const links = op.internal_link_leverage ?? 6;\n  const proof = op.proof_availability ?? 6;\n  const citation = op.citation_likelihood_score ?? 6;\n  const freshness = op.freshness_opportunity ?? 5;\n\n  const normalizedImpressionBoost = Math.min(impressions / 1000, 5);\n  const rankBoost = position > 5 && position < 30 ? 2 : 0;\n\n  const score =\n    business * 0.25 +\n    intent * 0.15 +\n    weakness * 0.15 +\n    topical * 0.10 +\n    links * 0.10 +\n    proof * 0.10 +\n    citation * 0.10 +\n    freshness * 0.05 +\n    normalizedImpressionBoost +\n    rankBoost;\n\n  return {\n    ...op,\n    gsc_impressions: impressions,\n    gsc_position: position,\n    priority_score: Number(score.toFixed(2))\n  };\n}).sort((a, b) => b.priority_score - a.priority_score);\n\nreturn [{\n  json: {\n    ...research,\n    gsc_rows: gscRows,\n    scored_opportunities: scored\n  }\n}];"
      },
      "id": "score-opportunities-1",
      "name": "Score Opportunities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"input\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a search strategist and content systems architect. Transform the provided SEO/AEO research into structured JSON only.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Brand packet:\\n\" + JSON.stringify($json, null, 2) + \"\\n\\nReturn JSON with keys: executive_summary, topic_map, opportunities, page_briefs, ai_citation_briefs, internal_link_plan, indexing_status, gsc_opportunities.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "openai-build-briefs-1",
      "name": "OpenAI - Build Briefs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json;\nconst content = raw.output?.[0]?.content?.[0]?.text || raw.output_text || raw.choices?.[0]?.message?.content || raw.content || '';\n\nlet parsed;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  parsed = { page_briefs: [], opportunities: [], executive_summary: {}, topic_map: [] };\n}\n\nconst packet = {\n  ...$('Score Opportunities').first().json,\n  ...parsed\n};\n\nconst top = (packet.page_briefs || packet.scored_opportunities || []).slice(0, 5);\nconst lines = [\n  `SEO/AEO Run Complete - ${packet.brand_name}`,\n  '',\n  `Run ID: ${packet.run_id}`,\n  `Site: ${packet.site_url}`,\n  '',\n  'Top Opportunities:',\n  ...top.map((x, i) => `${i + 1}. ${x.target_query || x.primary_query || x.title_direction || 'Untitled'}`),\n  '',\n  'Reply with one of:',\n  `APPROVE ${packet.run_id}`,\n  `REJECT ${packet.run_id}`,\n  `REVISE ${packet.run_id}: <notes>`\n];\n\nreturn [{\n  json: {\n    ...packet,\n    telegram_text: lines.join('\\n')\n  }\n}];"
      },
      "id": "build-telegram-summary-1",
      "name": "Build Telegram Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2260, 400]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{$json.telegram_text}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-send-approval-1",
      "name": "Telegram - Send Approval Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2520, 400],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "run_id",
              "value": "={{$json.run_id}}",
              "type": "string"
            },
            {
              "name": "brand_name",
              "value": "={{$json.brand_name}}",
              "type": "string"
            },
            {
              "name": "site_url",
              "value": "={{$json.site_url}}",
              "type": "string"
            },
            {
              "name": "created_at",
              "value": "={{$now.toISO()}}",
              "type": "string"
            },
            {
              "name": "payload",
              "value": "={{JSON.stringify($json)}}",
              "type": "string"
            },
            {
              "name": "status",
              "value": "pending_approval",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-run-output-1",
      "name": "Log Run Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2780, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set Brand Config", "type": "main", "index": 0 }]]
    },
    "Schedule Trigger": {
      "main": [[{ "node": "Set Brand Config", "type": "main", "index": 0 }]]
    },
    "Set Brand Config": {
      "main": [[{ "node": "Perplexity - Research", "type": "main", "index": 0 }]]
    },
    "Perplexity - Research": {
      "main": [[{ "node": "Normalize Research", "type": "main", "index": 0 }]]
    },
    "Normalize Research": {
      "main": [[
        { "node": "GSC - Search Analytics", "type": "main", "index": 0 },
        { "node": "Merge - Research + GSC", "type": "main", "index": 0 }
      ]]
    },
    "GSC - Search Analytics": {
      "main": [[{ "node": "Merge - Research + GSC", "type": "main", "index": 1 }]]
    },
    "Merge - Research + GSC": {
      "main": [[{ "node": "Score Opportunities", "type": "main", "index": 0 }]]
    },
    "Score Opportunities": {
      "main": [[{ "node": "OpenAI - Build Briefs", "type": "main", "index": 0 }]]
    },
    "OpenAI - Build Briefs": {
      "main": [[{ "node": "Build Telegram Summary", "type": "main", "index": 0 }]]
    },
    "Build Telegram Summary": {
      "main": [[{ "node": "Telegram - Send Approval Message", "type": "main", "index": 0 }]]
    },
    "Telegram - Send Approval Message": {
      "main": [[{ "node": "Log Run Output", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "REPLACE_INSTANCE_ID"
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "starter-seo-aeo-research-run-v1",
  "id": "AJD-SEO-AEO-RESEARCH-RUN",
  "_aj_digital_notes": {
    "version": "2.0",
    "replace_before_import": [
      "REPLACE_GOOGLE_CREDENTIAL_ID",
      "REPLACE_TELEGRAM_CREDENTIAL_ID",
      "REPLACE_INSTANCE_ID"
    ],
    "env_vars_required": [
      "CLIENT_BRAND_NAME", "CLIENT_SITE_URL", "CLIENT_AUTHOR_NAME",
      "CLIENT_PRIMARY_CITY", "CLIENT_LOCAL_CITIES", "CLIENT_NICHE",
      "CLIENT_SEED_TOPICS", "PERPLEXITY_API_KEY", "OPENAI_API_KEY",
      "TELEGRAM_CHAT_ID"
    ],
    "client_config_source": "clients/{slug}/client-profile.json",
    "full_spec": "workflows/n8n/seo-aeo-engine-workflow.md"
  }
}
